{% extends 'base.html.twig' %}

{% block title %}Bienvenue "Truc"{% endblock %}

{% block body %}

    <h1>Bienvenue {{ app.user.email }} </h1>

    <a href="{{ path('app_trainee') }}">Liste des stagiaires ({{ traineeCount }})</a>
    <br>
    <a href="{{ path('app_trainer') }}">Liste des formateurs ({{ trainerCount }})</a>
    <br>
    <a href="{{ path('app_training') }}">Liste des formations ({{ trainingCount }})</a>
    <br>

    <br><br><br>
    
    <p class="underline">Sessions à venir</p>
        {% for incomingSession in incSessions %}
            {# TODO: faire les session Detail avec liste des inscrit, formateur, places #}
            {# Affichage des places prises/total avec code couleur (vert, orange si >50%, rouge full) dans la ligne #}
            <a href="">
                {{ incomingSession }} <br>
            <a>
        {% endfor %}

    <br>
    <p class="underline">Sessions en cours</p>
        {% for inProgressSession in inProgressSessions %}
            {# TODO: faire les session Detail avec liste des inscrit, formateur, places #}
            {# Affichage des places prises/total avec code couleur (vert, orange si >50%, rouge full) dans la ligne #}
            <a href="">
                {{ inProgressSession }} <br>
            <a>
        {% endfor %}

    <br>
    <p class="underline">Sessions passées</p>
        {% for passedSession in passedSessions %}
            {# TODO: faire les session Detail avec liste des inscrit, formateur, places #}
            {# Affichage des places prises/total avec code couleur (vert, orange si >50%, rouge full) dans la ligne #}
            <a href="">
                {{ passedSession }} <br>
            <a>
        {% endfor %}


{% endblock %}