{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!{% endblock %}

{% block body %}


        <h1>Formateurs ({{ totalCount }})</h1>
        <a href="{{ path('app_home') }}"><i class="fa-solid fa-arrow-left"></i> Retour</a>

        <br><br>

        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}

        <div class="marginBottom">

            <table id="traineeTable" class="display">

                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Sessions actives</th>
                    </tr>
                <thead>

                <tbody>
                    {% for trainer in trainers %}
                    <tr class="clickableTr" value="{{ trainer.id }}">
                        <td>{{ trainer }}</td>
                        <td>{{ trainer.sessionCount }} (All pour l'instant)</td>
                    </tr>
                    {% endfor %}
                </tbody>
            
            </table>

            {# <a href="{{ path('app_trainerDetail', {'id': trainer.id}) }}">{{ trainer }}</a>
            <br> #}

            <script>
                let table = new DataTable('#traineeTable', {
                    paging: false,
                    searching: false,
                    "info": false,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json"
                    }
                    // scrollY: 400
                });
            </script>

            <script>
            // Rend les <tr> clickables, redirection vers sessionDetail (mais passe par la route et non le nom de la route)
            var clickableTrs = document.querySelectorAll('.clickableTr');
            if(clickableTrs != null) {
                for (var i = 0; i < clickableTrs.length; i++) {
                    (function(index) {
                        clickableTrs[index].addEventListener('click', function() {
                            var idSessionClicked = clickableTrs[index].getAttribute("value");
                            console.log(idSessionClicked);
                            console.log("path('app_sessionDetail', {'id':" + idSessionClicked+"} )");
                            // window.location.href = "{{ path('app_sessionDetail', {'id':" + idSessionClicked+"} ) }}";
                            // window.location.href = "path('app_sessionDetail', {'id':" + idSessionClicked+"} )";

                            window.location.href = "/trainerDetail/" + idSessionClicked + "/view";
                        });
                    })(i);
                }
            }
            </script>

                
        </div>

        {% else %}

            <p>Vous n'avez pas l'autorisation de voir ces infos</p>

        {% endif %}




        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}
            <a class="listAddButton" href="{{ path('app_addTrainer') }}"><i class="fa-solid fa-square-plus"></i> Ajouter un formateur</a>
        {% endif %}


{% endblock %}
