{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!{% endblock %}

{% block body %}


        <h1>Liste des formateurs ({{ totalCount }})</h1>
        <a href="{{ path('app_home') }}"><i class="fa-solid fa-arrow-left"></i> Retour</a>

        <br><br>

        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}

            <div class="marginBottom">
                {% for trainer in trainers %}
                    <a href="{{ path('app_trainerDetail', {'id': trainer.id}) }}">{{ trainer }}</a>
                    <br>
                {% endfor %}
            </div>

        {% else %}

            <p>Vous n'avez pas l'autorisation de voir ces infos</p>

        {% endif %}




        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}
            <a class="listAddButton" href="{{ path('app_addTrainer') }}"><i class="fa-solid fa-square-plus"></i> Ajouter un formateur</a>
        {% endif %}


{% endblock %}
