{% extends 'base.html.twig' %}

{% block title %}Détail session{% endblock %}


{% block body %}

    <h1>Détail de la session {{ session }}</h1>
    {# Retour sur la fiche formation #}
    {# <a href="{{ path('app_trainingDetail', {'id':session.training.id }) }}">Retour</a> #}
    <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Retour</button>
    {# <input action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" /> #}

    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}

        {# Calcul du pourcentage de places réservés et affichage color fa-user en fonction #}
        {% set sessionStatusClass = "" %}

        {% if ((nbrSubscribers / session.nbrPlaces ) < 0.5) %}
            {% set sessionStatusClass = "open" %}
            {% set sessionStatusText = "(ouvert)" %}
            {# <p>Inférieur à 50%</p> #}
        {% elseif ( ((nbrSubscribers / session.nbrPlaces ) >= 0.5) and ((nbrSubscribers / session.nbrPlaces ) != 1) ) %}
            {% set sessionStatusClass = "midOpen" %}
            {% set sessionStatusText = "(ouvert)" %}
            {# <p>Supérieur à 50% mais pas 100%</p> #}
        {% else %}
            {% set sessionStatusClass = "full" %}
            {% set sessionStatusText = "(complet)" %}
            {# <p>Full</p> #}
        {% endif %}

        <p>Infos</p>
        <ul>
            <li>Formation: <a href="{{ path('app_trainingDetail', {'id': session.training.id}) }}">{{ session.training }}</a> </li>
            <li>Session: {{ session }} </li>
            <li>Formateur: <a href="{{ path('app_trainerDetail', {'id': session.trainer.id}) }}">{{ session.trainer }}</a> </li>
            <li>Date de début: {{ session.beginDate|date("m/d/Y") }} </li>
            <li>Date de fin: {{ session.endDate|date("m/d/Y") }} </li>
            <li>Inscriptions: {{ nbrSubscribers }}/{{ session.nbrPlaces }} <i class="fa-solid fa-user-group {{ sessionStatusClass }}"></i></li>
            <li class="{{ sessionStatusClass }}">{{ sessionStatusText }}</li>
        </ul>

    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}


    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
        <a class="editButton" href="{{ path('app_editSession', {'id': session.id }) }}"><i class="fa-solid fa-pen-to-square"></i> Éditer</a>
        <a class="deleteButton" href="{{ path('app_deleteSession', {'id': session.id }) }}"><i class="fa-regular fa-trash-can"></i> Supprimer la session</a>
    {% else %}
        <p style="opacity: 0.5"><i class="fa-solid fa-pen-to-square"></i> Éditer (Admin)</p>
        <p style="opacity: 0.5"><i class="fa-regular fa-trash-can"></i> Supprimer (Admin)</p>
        
    {% endif %}


    <br><br>
    <h2>Programme</h2>
    <div class="sessionModulesDiv">
        {% for sessionProgramme in sessionProgrammes %}
            <a href="{{ path('app_deleteProgram', {'id': session.id, 'idProgram': sessionProgramme.id}) }}" class="sessionModule">{{ sessionProgramme.module.name }} | {{ sessionProgramme.length }}h <span class="deleteBin"><i class="fa-regular fa-trash-can red"></i></span></a>
        {% endfor %}
    </div>

    <br><br>
    <h3>Ajouter un module</h3>
    {# formAddProgramme #}
    {{ form_start(formAddProgramme) }}

        <div class="my-custom-class-for-errors">
            {{ form_errors(formAddProgramme) }}
        </div>

        <div class="inline">
            {{ form_label(formAddProgramme.module, 'Module')}}
            {{ form_widget(formAddProgramme.module) }}
    
            {# <div class="inline"> #}
                {{ form_label(formAddProgramme.length, 'Durée')}}
                {{ form_widget(formAddProgramme.length) }} h
            {# </div> #}

            {{ form_label(formAddProgramme.session, 'Session')}}
            {{ form_widget(formAddProgramme.session, { 'value': session.id}) }} 
        </div>

        {{ form_widget(formAddProgramme.submit, { 'label': 'Programmer' }) }} 
    
    {{ form_end(formAddProgramme) }}

    

    <br><br>
    <h2>Inscriptions <span class="{{ sessionStatusClass }}">({{ nbrSubscribers }}/{{ session.nbrPlaces }})</span></h2>
    {# Nbr inscrits à coté du titre () #}
    {# Colonne <a>"-"</a> pour désinscrire un stagiaire #}
    {% if app.user %}

        {% if subTrainees|length == 0 %}
            <p>Pas de stagiaires inscrits pour le moment</p>
        {% else %}
            
            <table>
                <thead>
                    <tr>
                        <th>Stagiaire</th>
                        <th>Désinscrire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subTrainee in subTrainees %}
                    <tr>
                        <td>
                            <a href="{{ path('app_traineeDetail', {id: subTrainee.id})}}">{{ subTrainee }}</a>
                        </td>
                        <td style="text-align:center;">
                            <a href="{{ path('app_removetraineeSession', {'id': subTrainee.id, 'idSession': session.id, 'redirect': 'session'}) }}">
                                <i class="fa-solid fa-right-from-bracket fa-red"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% endif %}
        
    {% else %}
        <p>Accès non autorisé<p> 
    {% endif %}


    <br><br>
    <h2>Inscrire un stagiaire</h2>
    {# Mettre un dataTables avec recherche intégré qui affiche uniquement les stagiaire qui sont pas inscrit à cette session (!) et ajouter une colonne <a>"+"</a> dans la table #}
    {% if app.user %}
            <table id="subscribersTable" class="display">
                <thead>
                    <tr>  
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Ville</th>
                        <th>Profil</th>
                        <th>Inscrire</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for notSubtrainee in notSubTrainees %}
                    <tr>   
                        
                        <td>
                            {{ notSubtrainee.firstName }}
                        </td>
                        <td>
                            {{ notSubtrainee.lastName }}
                        </td>
                        <td>
                            {{ notSubtrainee.ville }}
                        </td>
                        <td>
                            <a href="{{ path('app_traineeDetail', {id: notSubtrainee.id}) }}"><i class="fa-solid fa-magnifying-glass fa-centered"></i></a>
                        </td> 
                        <td>
                            <a href="{{ path('app_addtraineeSession', {'id': notSubtrainee.id, 'idSession': session.id}) }}"><i class="fa-solid fa-right-to-bracket fa-centered fa-green"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script>
                let table = new DataTable('#subscribersTable', {
                    paging: false,
                    // searching: false,
                    "info": false,
                    language: {
                        url: 'dataTables.french.json',
                    },
                    // scrollY: 400
                });
            </script>

        {% else %}
            <p>Accès non autorisé<p> 
        {% endif %}


{% endblock %}
