{% extends 'base.html.twig' %}

{% block title %}Liste stagiaires{% endblock %}


{% block body %}

    <h1>Liste des stagiaires ({{ totalCount }})</h1>
    <a href="{{ path('app_home') }}"><i class="fa-solid fa-arrow-left"></i> Retour</a>

    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}

        <div class="marginBottom">
            {% for trainee in trainees %}
                <a href="{{ path('app_traineeDetail', {'id': trainee.id}) }}">{{ trainee }}</a>
                <br>
            {% endfor %}
        </div>

    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}




    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
        <a class="listAddButton" href="{{ path('app_addTrainee') }}"><i class="fa-solid fa-square-plus"></i> Ajouter un Stagiaire</a>
    {% endif %}


{% endblock %}
