{% extends 'base.html.twig' %}

{% block title %}Liste stagiaires{% endblock %}


{% block body %}


    <a href="{{ path('app_home') }}"><i class="fa-solid fa-arrow-left"></i> Retour</a>

    <h1 class="listPageTitre"><i class="fa-solid fa-user-graduate"></i> &nbsp;Stagiaires <span class="sessionTableTitleCount">({{ totalCount }})</span></h1>

    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
        <a class="listAddButton" href="{{ path('app_addTrainee') }}"><i class="fa-solid fa-square-plus"></i> Ajouter un Stagiaire</a>
    {% endif %}

    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}

        <div class="marginBottom">

            <table id="traineeTable" class="display" >
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Ville</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>tél</th>
                        <th>Genre</th>
                    </tr>
                </thead>

                <tbody>

                    {% for trainee in trainees %}
                    <tr class="clickableTr" value="{{ trainee.id }}">
                        <td class="trainingTitle">{{ trainee }}</td>
                        <td>{{ trainee.ville }}</td>
                        <td>{{ trainee.birthDate |date("m/d/Y")}}</td>
                        <td>{{ trainee.email }}</td>
                        <td>{{ trainee.tel }}</td>
                        <td>{{ trainee.gender }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


            <script>
                let table = new DataTable('#traineeTable', {
                    paging: false,
                    searching: true,
                    "info": false,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json"
                    }
                });
            </script>

            <script>
            // Rend les <tr> clickables, redirection vers sessionDetail (mais passe par la route et non le nom de la route)
            var clickableTrs = document.querySelectorAll('.clickableTr');
            if(clickableTrs != null) {
                for (var i = 0; i < clickableTrs.length; i++) {
                    (function(index) {
                        clickableTrs[index].addEventListener('click', function() {
                            var idSessionClicked = clickableTrs[index].getAttribute("value");
                            console.log(idSessionClicked);
                            console.log("path('app_sessionDetail', {'id':" + idSessionClicked+"} )");
                            // window.location.href = "{{ path('app_sessionDetail', {'id':" + idSessionClicked+"} ) }}";
                            // window.location.href = "path('app_sessionDetail', {'id':" + idSessionClicked+"} )";

                            window.location.href = "/traineeDetail/" + idSessionClicked + "/view";
                        });
                    })(i);
                }
            }
            </script>


            {# {% for trainee in trainees %}

                <a href="{{ path('app_traineeDetail', {'id': trainee.id}) }}">{{ trainee }}</a>
                <br>

            {% endfor %} #}

        </div>

    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}



{% endblock %}
