{% extends 'base.html.twig' %}

{% block title %}Profil stagiaire{% endblock %}


{% block body %}

    <h1>Stagiaire {{ trainee }}</h1>
    {# <a href="{{ path('app_trainee') }}">Retour</a> #}
    <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Retour</button>


    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
    
        <p>Infos</p>
        <ul>
            <li>Nom: {{ trainee }}</li>
            <li>Age: {{ trainee.birthDate|date("m/d/Y") }}</li>
            <li>Ville: {{ trainee.ville }}</li>
            <li>Email: {{ trainee.email }}</li>
            <li>Tél: {{ trainee.tel }}</li>
            <li>Genre: {{ trainee.gender }}</li>
        </ul>


    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}


    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
        <a class="editButton" href="{{ path('app_editTrainee', {'id': trainee.id }) }}"><i class="fa-solid fa-pen-to-square"></i> Éditer le stagiaire</a>
        <a href="{{ path('app_deleteTrainee', {'id': trainee.id}) }}" class="deleteButton"><i class="fa-solid fa-trash-can"></i> Supprimer le stagiaire</a>
    {% else %}
        <p class="editButton" style="opacity: 0.5"><i class="fa-solid fa-pen-to-square"></i> Éditer le stagiaire (Admin)</p>
    {% endif %}


    {% if app.user %}

        {# Si session en cours (label ou bgColor vert?) #}
        <h2>Formations</h2>

            <table id="sessionsTable" class="display">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Status</th>
                        <th>Inscriptions</th>
                        <th>Désinscrire</th>
                    </tr>
                </thead>

                <tbody>

                    {% for traineeSession in traineeSessions %}

                        {# Calcul du pourcentage de places réservés et affichage color fa-user en fonction #}
                        {% if ((traineeSession.nbrOfSubscribers / traineeSession.nbrPlaces ) < 0.5) %}
                            {% set sessionStatusClass = "open" %}
                            {% set sessionStatusText = "Ouvert" %}
                        {% elseif ( ((traineeSession.nbrOfSubscribers / traineeSession.nbrPlaces ) >= 0.5) and ((traineeSession.nbrOfSubscribers / traineeSession.nbrPlaces ) != 1) ) %}
                            {% set sessionStatusClass = "midOpen" %}
                            {% set sessionStatusText = "Ouvert" %}
                        {% else %}
                            {% set sessionStatusClass = "full" %}
                            {% set sessionStatusText = "Complet" %}
                        {% endif %}


                        <tr class="clickableTr" value="{{ traineeSession.id }}">
                            <td>{{ traineeSession|capitalize }}</td>
                            <td class="{{ sessionStatusClass }}">{{ sessionStatusText }}</td>
                            <td class="{{ sessionStatusClass }}">{{ traineeSession.nbrOfSubscribers }}/{{ traineeSession.nbrPlaces }} <i class="fa-solid fa-user-group"></i></td>
                            <td class="unsubscribeTr">
                                <a class="unsubscribeLink" href="{{ path('app_removetraineeSession', {'id': trainee.id, 'idSession': traineeSession.id, 'redirect': 'trainee' }) }}">
                                    <i class="fa-solid fa-right-from-bracket fa-red biggerBtn"></i>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>

            </table>

            <script>
                let table = new DataTable('#sessionsTable', {
                    paging: false,
                    searching: false,
                    "info": false 
                    // scrollY: 400
                });
            </script>

            <script>
            // Rend les <tr> clickables, redirection vers sessionDetail (mais passe par la route et non le nom de la route)
            var clickableTrs = document.querySelectorAll('.clickableTr');
            if(clickableTrs != null) {
                for (var i = 0; i < clickableTrs.length; i++) {
                    (function(index) {
                        clickableTrs[index].addEventListener('click', function() {
                            var idSessionClicked = clickableTrs[index].getAttribute("value");
                            console.log(idSessionClicked);
                            console.log("path('app_sessionDetail', {'id':" + idSessionClicked+"} )");
                            // window.location.href = "{{ path('app_sessionDetail', {'id':" + idSessionClicked+"} ) }}";
                            // window.location.href = "path('app_sessionDetail', {'id':" + idSessionClicked+"} )";

                            window.location.href = "/sessionDetail/" + idSessionClicked;
                        });
                    })(i);
                }
            }
            </script>


        {# {% for traineeSession in traineeSessions %}
            <a href="{{ path('app_sessionDetail', {'id': traineeSession.id }) }}">{{ traineeSession }}</a> &nbsp;<a href="{{ path('app_removetraineeSession', {'id': trainee.id, 'idSession': traineeSession.id, 'redirect': 'trainee' }) }}">Désinscrire</a>
            <br>
        {% endfor %} #}


        {# <br><br><br>
    
        <p class="underline">Sessions à venir</p>
            {% for incomingSession in incSessions %}
                <a href="{{ path('app_sessionDetail', { 'id':incomingSession.id }) }}">
                    {{ incomingSession }} <br>
                <a>
            {% endfor %}

        <br>
        <p class="underline">Sessions en cours</p>
            {% for inProgressSession in inProgressSessions %}
                <a href="{{ path('app_sessionDetail', { 'id':inProgressSession.id }) }}">
                    {{ inProgressSession }} <br>
                <a>
            {% endfor %}

        <br>
        <p class="underline">Sessions passées</p>
            {% for passedSession in passedSessions %}
                <a href="{{ path('app_sessionDetail', { 'id':passedSession.id }) }}">
                    {{ passedSession }} <br>
                <a>
            {% endfor %} #}

    {% endif %}

{% endblock %}
