{% extends 'base.html.twig' %}

{% block title %}Profil stagiaire{% endblock %}


{% block body %}

    <h1>Stagiaire {{ trainee }}</h1>
    <a href="{{ path('app_trainee') }}">Retour</a>

    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
    
        <p>Infos</p>
        <ul>
            <li>Nom: {{ trainee }}</li>
            <li>Age: {{ trainee.birthDate|date("m/d/Y") }}</li>
            <li>Ville: {{ trainee.ville }}</li>
            <li>Email: {{ trainee.email }}</li>
            <li>Tél: {{ trainee.tel }}</li>
            <li>Genre: {{ trainee.gender }}</li>
        </ul>


    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_editTrainee', {'id': trainee.id }) }}">Editer le stagiaire</a>
    {% else %}
        <p style="opacity: 0.5">Editer le stagiaire (Admin)</p>
    {% endif %}


    {% if app.user %}
        {# Si session en cours (label ou bgColor vert?) #}
        <h2>Formations</h2>

        {% for traineeSession in traineeSessions %}
            <a href="{{ path('app_sessionDetail', {'id': traineeSession.id }) }}">{{ traineeSession }}</a> &nbsp;<a href="{{ path('app_removetraineeSession', {'id': trainee.id, 'idSession': traineeSession.id, 'redirect': 'trainee' }) }}">Désinscrire</a>
            <br>
        {% endfor %}
    {% endif %}

{% endblock %}
