{% extends 'base.html.twig' %}

{% block title %}Profil stagiaire{% endblock %}


{% block body %}

    <h1>Stagiaire {{ trainee }}</h1>
    {# <a href="{{ path('app_trainee') }}">Retour</a> #}
    <button onclick="history.back()">Retour</button>


    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
    
        <p>Infos</p>
        <ul>
            <li>Nom: {{ trainee }}</li>
            <li>Age: {{ trainee.birthDate|date("m/d/Y") }}</li>
            <li>Ville: {{ trainee.ville }}</li>
            <li>Email: {{ trainee.email }}</li>
            <li>Tél: {{ trainee.tel }}</li>
            <li>Genre: {{ trainee.gender }}</li>
        </ul>


    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_editTrainee', {'id': trainee.id }) }}">Editer le stagiaire</a>
    {% else %}
        <p style="opacity: 0.5">Editer le stagiaire (Admin)</p>
    {% endif %}


    {% if app.user %}

        {# Si session en cours (label ou bgColor vert?) #}
        <h2>Formations</h2>

        {% for traineeSession in traineeSessions %}
            <a href="{{ path('app_sessionDetail', {'id': traineeSession.id }) }}">{{ traineeSession }}</a> &nbsp;<a href="{{ path('app_removetraineeSession', {'id': trainee.id, 'idSession': traineeSession.id, 'redirect': 'trainee' }) }}">Désinscrire</a>
            <br>
        {% endfor %}


        {# <br><br><br>
    
        <p class="underline">Sessions à venir</p>
            {% for incomingSession in incSessions %}
                <a href="{{ path('app_sessionDetail', { 'id':incomingSession.id }) }}">
                    {{ incomingSession }} <br>
                <a>
            {% endfor %}

        <br>
        <p class="underline">Sessions en cours</p>
            {% for inProgressSession in inProgressSessions %}
                <a href="{{ path('app_sessionDetail', { 'id':inProgressSession.id }) }}">
                    {{ inProgressSession }} <br>
                <a>
            {% endfor %}

        <br>
        <p class="underline">Sessions passées</p>
            {% for passedSession in passedSessions %}
                <a href="{{ path('app_sessionDetail', { 'id':passedSession.id }) }}">
                    {{ passedSession }} <br>
                <a>
            {% endfor %} #}

    {% endif %}

{% endblock %}
