{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}


        <h1>Formations ({{ totalCount }})</h1>
        <a href="{{ path('app_home') }}"><i class="fa-solid fa-arrow-left"></i> Retour</a>

        <br><br>

        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}

            <table style="gap: 15px">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Sessions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for training in trainings %}
                    <tr>
                        <td><a href="{{ path('app_trainingDetail', {'id': training.id}) }}">{{ training.title }}</a></td>
                        <td>({{ training.sessionCount }} sessions)</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}

            <p>Vous n'avez pas l'autorisation de voir ces infos</p>

        {% endif %}




        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}
            <a class="listAddButton" href="{{ path('app_addTraining') }}"><i class="fa-solid fa-square-plus"></i> Ajouter une formation</a>
        {% endif %}


{% endblock %}
