{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}


        <h1>Liste des Formations ({{ totalCount }})</h1>
        <a href="{{ path('app_home') }}">Retour</a>

        <br><br>

        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}

            {% for training in trainings %}
                <a href="{{ path('app_trainingDetail', {'id': training.id}) }}">{{ training.title }} ({{ training.sessionCount }} sessions)</a>
                <br>
            {% endfor %}

        {% else %}

            <p>Vous n'avez pas l'autorisation de voir ces infos</p>

        {% endif %}




        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}
            <a href="{{ path('app_addTraining') }}">Ajouter une formation</a>
        {% endif %}


{% endblock %}
