{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}


{% block body %}

    <h1>Formation {{ training.title }}</h1>
    <a href="{{ path('app_training') }}">Retour</a>

    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
    
        <p>Infos</p>
        <ul>
            <li>
                Titre: {{ training.title }}&nbsp; {% if app.user %}<a href="{{ path('app_editTraining', {'id': training.id }) }}">Editer</a>{% endif %}
            </li>
            <li>Nombre de sessions en cours:</li>
            <li>Nombre de sessions à venir:</li>
        </ul>


    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}


    <h2>Sessions programmées</h2>

    {% if app.user %}

            <table id="sessionsTable">
                <thead>
                    <tr>    
                        <th>Titre</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Places</th>
                    </tr>
                </thead>

                <tbody>

                    {% for session in sessions %}
                    <tr>    
                        <td>{{ session.title }}</td>
                        <td>{{ session.beginDate | date('m/d/Y') }}</td>
                        <td>{{ session.endDate | date('m/d/Y') }}</td>
                        <td>{{ session.nbrPlaces }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <script>
                let table = new DataTable('#sessionsTable');
            </script>

    {% endif %}

    {# <a href="{{ path('app_addSession') }}">Ajouter une Session</a> #}
        


{% endblock %}