{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}


{% block body %}

    <h1>Formation: {{ training.title }}</h1>
    {# <a href="{{ path('app_training') }}">Retour</a> #}
    <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Retour</button>


    <br><br>

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {% if app.user %}
    

        <p>Titre: {{ training.title }}&nbsp; {% if app.user %}<a class="editButton" href="{{ path('app_editTraining', {'id': training.id }) }}"><i class="fa-solid fa-pen-to-square"></i> Éditer</a>{% endif %}</p>



    {% else %}

        <p>Vous n'avez pas l'autorisation de voir ces infos</p>

    {% endif %}


    <h2>Sessions ({{ nbrSessions }})</h2>

    <h3>Prochainement ({{ nbrIncomingSessions }})</h3>

        {% if app.user %}
            <table id="sessionsTable" class="display">
                <thead>
                    <tr>    
                        <th>Titre</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Inscriptions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for incomingSession in incomingSessions %}

                    {# Calcul du pourcentage de places réservés et affichage color fa-user en fonction #}
                    {% if ((incomingSession.nbrOfSubscribers / incomingSession.nbrPlaces ) < 0.5) %}
                        {% set sessionStatusClass = "open" %}
                        {% set sessionStatusText = "(ouvert)" %}
                    {% elseif ( ((incomingSession.nbrOfSubscribers / incomingSession.nbrPlaces ) >= 0.5) and ((incomingSession.nbrOfSubscribers / incomingSession.nbrPlaces ) < 1) ) %}
                        {% set sessionStatusClass = "midOpen" %}
                        {% set sessionStatusText = "(ouvert)" %}
                    {% elseif ((incomingSession.nbrOfSubscribers / incomingSession.nbrPlaces ) >= 1) %}
                        {% set sessionStatusClass = "full" %}
                        {% set sessionStatusText = "(complet)" %}
                    {% endif %}

                    <tr class="clickableTr" value="{{ incomingSession.id }}">    
                        <td>
                            {# <a href="{{ path('app_sessionDetail', {id: incomingSession.id}) }}"> #}
                                {{ incomingSession.title }}
                            {# </a> #}
                        </td>
                        <td>{{ incomingSession.beginDate | date('m/d/Y') }}</td>
                        <td>{{ incomingSession.endDate | date('m/d/Y') }}</td>
                        <td class="{{ sessionStatusClass }}">{{ incomingSession.nbrOfSubscribers }}/{{ incomingSession.nbrPlaces }} <i class="fa-solid fa-user-group"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Accès non autorisé<p> 
        {% endif %}

    
    <h3>En cours ({{ nbrOngoingSessions }})</h3>

        {% if app.user %}
            <table id="sessionsTable2" class="display">
                <thead>
                    <tr>    
                        <th>Titre</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Inscriptions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ongoingSession in ongoingSessions %}

                        {# Calcul du pourcentage de places réservés et affichage color fa-user en fonction #}
                        {% if ((ongoingSession.nbrOfSubscribers / ongoingSession.nbrPlaces ) < 0.5) %}
                            {% set sessionStatusClass = "open" %}
                            {% set sessionStatusText = "(ouvert)" %}
                        {% elseif ( ((ongoingSession.nbrOfSubscribers / ongoingSession.nbrPlaces ) >= 0.5) and ((ongoingSession.nbrOfSubscribers / ongoingSession.nbrPlaces ) < 1) ) %}
                            {% set sessionStatusClass = "midOpen" %}
                            {% set sessionStatusText = "(ouvert)" %}
                        {% elseif ((ongoingSession.nbrOfSubscribers / ongoingSession.nbrPlaces ) >= 1) %}
                            {% set sessionStatusClass = "full" %}
                            {% set sessionStatusText = "(complet)" %}
                        {% endif %}
                    
                        <tr class="clickableTr" value="{{ ongoingSession.id }}">    
                            <td>
                                {# <a href="{{ path('app_sessionDetail', {id: ongoingSession.id}) }}"> #}
                                    {{ ongoingSession.title }}
                                {# </a> #}
                            </td>
                            <td>{{ ongoingSession.beginDate | date('m/d/Y') }}</td>
                            <td>{{ ongoingSession.endDate | date('m/d/Y') }}</td>
                            <td class="{{ sessionStatusClass }}">{{ ongoingSession.nbrOfSubscribers }}/{{ ongoingSession.nbrPlaces }} <i class="fa-solid fa-user-group"></i></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Accès non autorisé<p> 
        {% endif %}
        




    <h3>Passés ({{ nbrPassedSessions }})</h3>

        {# {% for passedSession in passedSessions %}
            {{ dump(passedSession) }}
        {% endfor %} #}

        {% if app.user %}
            <table id="sessionsTable3" class="display">
                <thead>
                    <tr>    
                        <th>Titre</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Inscriptions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for passedSession in passedSessions %}

                        {# Calcul du pourcentage de places réservés et affichage color fa-user en fonction #}
                        {% if ((passedSession.nbrOfSubscribers / passedSession.nbrPlaces ) < 0.5) %}
                            {% set sessionStatusClass = "open" %}
                            {% set sessionStatusText = "(ouvert)" %}
                        {% elseif ( ((passedSession.nbrOfSubscribers / passedSession.nbrPlaces ) >= 0.5) and ((passedSession.nbrOfSubscribers / passedSession.nbrPlaces ) <= 1) ) %}
                            {% set sessionStatusClass = "midOpen" %}
                            {% set sessionStatusText = "(ouvert)" %}
                        {% elseif ((passedSession.nbrOfSubscribers / passedSession.nbrPlaces ) >= 1) %}
                            {% set sessionStatusClass = "full" %}
                            {% set sessionStatusText = "(complet)" %}
                        {% endif %}

                        <tr class="clickableTr" value="{{ passedSession.id }}">    
                            <td>
                                {# <a href="{{ path('app_sessionDetail', {id: passedSession.id}) }}"> #}
                                    {{ passedSession.title|capitalize }}
                                {# </a> #}
                            </td>
                            <td>{{ passedSession.beginDate | date('m/d/Y') }}</td>
                            <td>{{ passedSession.endDate | date('m/d/Y') }}</td>
                            <td class="{{ sessionStatusClass }}">{{ passedSession.nbrOfSubscribers }}/{{ passedSession.nbrPlaces }} <i class="fa-solid fa-user-group"></i></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


            <script>
                let table = new DataTable('#sessionsTable', {
                    paging: false,
                    searching: false,
                    "info": false 
                    // scrollY: 400
                });
                let table2 = new DataTable('#sessionsTable2', {
                    paging: false,
                    searching: false,
                    "info": false
                    // scrollY: 400
                });
                let table3 = new DataTable('#sessionsTable3', {
                    paging: false,
                    searching: false,
                    "info": false
                    // scrollY: 400
                });

            </script>

        {% else %}
                <p>Accès non autorisé<p> 
        {% endif %}


        <script>
        // Rend les <tr> clickables, redirection vers sessionDetail (mais passe par la route et non le nom de la route)
        var clickableTrs = document.querySelectorAll('.clickableTr');
        if(clickableTrs != null) {
            for (var i = 0; i < clickableTrs.length; i++) {
                (function(index) {
                    clickableTrs[index].addEventListener('click', function() {
                        var idSessionClicked = clickableTrs[index].getAttribute("value");
                        console.log(idSessionClicked);
                        console.log("path('app_sessionDetail', {'id':" + idSessionClicked+"} )");
                        // window.location.href = "{{ path('app_sessionDetail', {'id':" + idSessionClicked+"} ) }}";
                        // window.location.href = "path('app_sessionDetail', {'id':" + idSessionClicked+"} )";

                        window.location.href = "/sessionDetail/" + idSessionClicked;
                    });
                })(i);
            }
        }
        </script>



    <br>
    <a class="listAddButton" href="{{ path('app_addSession', { 'idTraining': training.id }) }}"><i class="fa-solid fa-square-plus"></i> Ajouter une Session</a>
    <a href="{{ path('app_deleteTraining', {'id': training.id}) }}" class="deleteButton"><i class="fa-solid fa-triangle-exclamation"></i> Supprimer la formation <i class="fa-solid fa-triangle-exclamation"></i></a>
        


{% endblock %}